<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col--4 footer__col footer__col--logo">
        <a href="/" class="logo logo--size-sm footer__logo">
          <span class="logo__title">Искусственный<br>интеллект</span>
        </a>
        <p class="d-md-none footer__copyright">© 2024 Искусственный интеллект.<br>Все права защищены.</p>
      </div>
      <div class="row__col--2 footer__col footer__col--subnav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="footer__nav-title">сайт</p>
            </li>
            <li class="footer__nav-item">
              <a href="#intro" class="js-anchor footer__nav-link">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a href="#about" class="js-anchor footer__nav-link">О компании</a>
            </li>
            <li class="footer__nav-item">
              <a href="#services" class="js-anchor footer__nav-link">Услуги</a>
            </li>
            <li class="footer__nav-item">
              <a href="#faq" class="js-anchor footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col--4 footer__col footer__col--nav">
        <nav class="footer__nav" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <p class="footer__nav-title">помощь</p>
            </li>
            <li class="footer__nav-item">
              <a href="#contacts" class="js-anchor  footer__nav-link">Контакты</a>
            </li>
            <li class="footer__nav-item">
              <a href="https://www.google.com/" class="footer__nav-link" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="https://www.google.com/" class="footer__nav-link" target="_blank" rel="noopener noreferrer">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="https://www.google.com/" class="footer__nav-link" target="_blank" rel="noopener noreferrer">Договор оферты</a>
            </li>
          </ul>
        </nav>
        <p class="d-md-block footer__copyright">© 2024 Искусственный интеллект.<br>Все права защищены.</p>
      </div>
    </div>
    <picture class="footer__hero">
      <img src="images/gif/sphere.gif" width="530" height="530" alt="Искусственный интеллект">
    </picture>
  </div>
</footer>