<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <div class="u-box u-box--theme-white-light header__inner-bg"></div>
      <a href="/" class="logo logo--size-sm header__logo">
        <span class="logo__title">Искусственный<br>интеллект</span>
      </a>
      <div class="header__dropdown">
        <div class="header__dropdown-inner">
          <div class="d-lg-block header__dropdown-header">
            <a href="/" class="logo header__dropdown-logo">
              <span class="logo__title">Искусственный<br>интеллект</span>
            </a>
            <button type="button" class="js-header-toggle header__toggle-close">
              <svg class="u-icon">
                <use xlink:href="images/icons/icons.svg#menu-close"></use>
              </svg>
            </button>
          </div>
          <nav class="header__nav" role="navigation">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="#about" class="js-anchor header__nav-link">О компании</a>
              </li>
              <li class="header__nav-item">
                <a href="#services" class="js-anchor header__nav-link">Услуги</a>
              </li>
              <li class="header__nav-item">
                <a href="#faq" class="js-anchor header__nav-link">FAQ</a>
              </li>
              <li class="header__nav-item">
                <a href="#contacts" class="js-anchor header__nav-link">Контакты</a>
              </li>
            </ul>
          </nav>
          <a href="#contacts" class="js-anchor d-lg-none btn btn--size-md btn--theme-white-fill header__btn-call">
            <span class="btn__inner">
              <span class="btn__title">Связаться</span>
            </span>
          </a>
          <a href="#contacts" class="js-anchor d-lg-block btn btn--size-lg btn--theme-accent-fill header__btn-call">
            <span class="btn__inner">
              <span class="btn__title">Связаться</span>
            </span>
          </a>
          <ul class="d-lg-block sc-list header__dropdown-sc">
            <li class="sc-list__item">
              <a href="https://www.google.com/" class="sc-list__link" target="_blank" rel="noopener noreferrer">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#sc-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="sc-list__item">
              <a href="https://www.google.com/" class="sc-list__link" target="_blank" rel="noopener noreferrer">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#sc-phone"></use>
                </svg>
              </a>
            </li>
            <li class="sc-list__item">
              <a href="https://www.google.com/" class="sc-list__link" target="_blank" rel="noopener noreferrer">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#sc-hh"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="js-header-toggle d-lg-block header__toggle-open">
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>