/* Headings, Common BEM Blocks, and More... */

.logo {
  display: inline-block;
  font-weight: normal;
  font-family: $fontAccent;
  line-height: 1.25;
  vertical-align: top;
  transition: $transition;
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      opacity: .6;
    }
  }
  &--size {
    &-sm {
      font-size: var(--fs-9);
      @media (max-width: $lg) {
        font-size: var(--fs-11);
      }
    }
  }
  &__title {
    display: block;
  }
}

.btn-group {
  --btn-group-gap: 5rem;
  &--gap {
    &-sm {
      --btn-group-gap: 6rem;
    }
  }
  &__inner {
    margin: calc(-1 * var(--btn-group-gap));
    display: flex;
    flex-wrap: wrap;
  }
  &__col {
    padding: var(--btn-group-gap);
  }
  &__el {
  }
}

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontAccent;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-white-fill {
      background: $whiteColor;
      color: $blackColor;
      border: 1px solid $whiteColor;
      border-radius: $radiusXs;
      &:hover {
        @media (min-width: $lg-mf) {
          background: $accentColor;
          color: $whiteColor;
          border-color: $accentColor;
        }
      }
      &:focus,
      &:active {
      }
    }
    &-accent-fill {
      background: $accentColor;
      color: $whiteColor;
      border: 1px solid $accentColor;
      border-radius: $radiusXs;
      &:hover {
        @media (min-width: $lg-mf) {
          background: $whiteColor;
          color: $blackColor;
          border-color: $whiteColor;
        }
      }
      &:focus,
      &:active {
      }
    }
    &-accent-outline {
      background: transparent;
      color: $accentColor;
      border: 1px solid $accentColor;
      border-radius: $radiusXs;
      &:hover {
        @media (min-width: $lg-mf) {
          background: $accentColor;
          color: $whiteColor;
          border-color: $accentColor;
        }
      }
      &:focus,
      &:active {
      }
    }
  }
  &--size {
    &-md {
      --btn-height: 40rem;
      --btn-padding-x: 36rem;
      --btn-padding-y: 8rem;
      --btn-font-size: var(--fs-10);
      .btn__title {
        padding-top: .1em;
      }
    }
    &-lg {
      --btn-height: 52rem;
      --btn-padding-x: 44rem;
      --btn-padding-y: 12rem;
      --btn-font-size: var(--fs-9);
      .btn__title {
        padding-top: .1em;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    position: relative;
    &--dir {
      &-ltr {
        margin-right: 10rem;
      }
      &-rtl {
        margin-left: 10rem;
      }
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.u-content {
  line-height: $lineHeightDefault;
  word-wrap: break-word;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 1.2em;
  }
  a {
    color: $accentColor;
    box-shadow: inset 0 -1px 0 transparent;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        box-shadow: inset 0 -1px 0 rgba($accentColor, .4);
      }
    }
  }
}

.u-box {
  &--theme {
    &-white-light {
      background: rgba($whiteColor, .05);
      backdrop-filter: blur(10px);
      border-radius: $radiusSm;
      box-shadow: inset 0 0 0 1px rgba($whiteColor, .01),
                  2px 4px 12px rgba($blackColor, .06);
      @media (max-width: $lg) {
        border-radius: $radiusESm;
      }
    }
  }
}

.about-card {
  position: relative;
  &.is-active {
    z-index: 1;
    .about-card__title {
      color: $accentColor;
      border-color: $accentColor;
    }
    .about-card__text {
      color: $greyColor;
    }
  }
  &__row {
    align-items: center;
  }
  &__col {
    @media (max-width: $md) {
      max-width: 100%;
      flex-basis: 100%;
    }
    &--title {
    }
    &--content {
    }
  }
  &__title {
    margin: 0;
    font-weight: 300;
    font-size: var(--fs-4);
    color: $whiteColor;
    text-align: center;
    transition: all .28s;
    @media (max-width: $md) {
      font-weight: normal;
    }
    &--border {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #2E344B;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: $md) {
        color: transparent !important;
      }
      @media (max-width: $xs) {
        border-width: 2px;
      }
    }
    &-wrapper {
      padding: 0 0 44.12%;
      position: relative;
      @media (max-width: $md) {
        padding-bottom: 70%;
      }
      @media (max-width: $sm) {
        padding-bottom: 86.7469879518%;
      }
    }
  }
  &__content {
    margin-left: 60rem;
    padding: 54rem 0;
    @media (max-width: $lg) {
      margin-left: 0;
    }
    @media (max-width: $md) {
      width: 100%;
      height: 100%;
      padding: 40rem 32rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
    }
    @media (max-width: $xs) {
      padding-right: 26rem;
      padding-left: 26rem;
    }
  }
  &__text {
    color: $blackNeutralColor;
    transition: all .28s;
    @media (max-width: $md) {
      max-width: 370rem;
      margin: 12rem auto 0;
      color: $greyColor;
    }
    @media (max-width: $xs) {
      font-size: 12rem;
    }
  }
}

.achievements-card {
  border-radius: $radiusSm;
  @media (max-width: $sm) {
    border-radius: $radiusESm;
  }
  &__inner {
    padding: 28rem;
    @media (max-width: $sm) {
      padding: 20rem;
    }
  }
  &__header {
    margin: 0 0 80rem;
    @media (max-width: $md) {
      margin-bottom: 48rem;
    }
  }
  &__title {
    margin: 0;
    font-weight: 300;
  }
  &__content {
  }
  &__text {
    margin: 0 -10rem 12rem 0;
    font-size: var(--fs-7);
    line-height: $lineHeight6;
    color: $greyColor;
  }
}

.areas-work-card {
  &__media {
    margin: 0 0 24rem;
    @media (max-width: $sm) {
      margin-bottom: 20rem;
    }
  }
  &__picture {
    @extend %img-cover;
    padding-bottom: 51.724137931%;
    border-radius: $radiusSm;
    @media (max-width: $lg) {
      border-radius: $radiusESm;
    }
    @media (max-width: $xs) {
      padding-bottom: 90%;
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 16rem;
    @media (max-width: $sm) {
      margin-bottom: 12rem;
    }
  }
  &__text {
    color: $greyColor;
    letter-spacing: -.002em;
    @media (max-width: $sm) {
    }
  }
}

.services-card {
  &__inner {
    height: 100%;
    padding: 40rem 28rem;
    display: flex;
    flex-direction: column;
    @media (max-width: $lg) {
      padding-top: 22rem;
      padding-right: 20rem;
      padding-left: 20rem;
      border-radius: $radiusESm;
    }
  }
  &__header {
    position: relative;
    z-index: 1;
  }
  &__media {
    width: 140rem;
    height: 140rem;
    margin: -70rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 20rem $blackColor;
    border-radius: 50% !important;
    position: relative;
    @media (max-width: $lg) {
      width: 116rem;
      height: 116rem;
      margin-top: -58rem;
      margin-bottom: -58rem;
    }
    &:before,
    &:after {
      --active-color: #{$blackColor};
      --active-radius: 14rem;
      background-image: radial-gradient(circle at top left, transparent 46%, var(--active-color) 50%);
      background-size: calc(var(--active-radius)* 1.5) calc(var(--active-radius)* 1.5);
      width: var(--active-radius);
      height: var(--active-radius);
      content: '';
      position: absolute;
      top: 50%;
      @media (max-width: $lg) {
        --active-radius: 10rem;
      }
    }
    &:before {
      margin-right: -1px;
      right: 100%;
      transform: scaleY(-1);
    }
    &:after {
      margin-left: -1px;
      left: 100%;
      transform: scale(-1);
    }
  }
  &__picture {
    width: 80rem;
    height: 80rem;
    user-select: none;
    pointer-events: none;
    @media (max-width: $lg) {
      width: 60rem;
      height: 60rem;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
  &__content {
    padding-top: 53rem;
    text-align: center;
    @media (max-width: $sm) {
      width: 100%;
      max-width: 400rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__title {
    margin: 0 0 16rem;
    font-size: var(--fs-6);
    color: $accentColor;
    @media (max-width: $lg) {
      margin-bottom: 12rem;
    }
  }
  &__text {
    margin: 0;
  }
  &__footer {
    margin-top: auto;
    padding-top: 32rem;
    @media (max-width: $lg) {
      padding-top: 36rem;
    }
    @media (max-width: $sm) {
      width: 100%;
      max-width: 400rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__btn {
    width: 100%;
  }
}

.u-input {
  &__label {
    width: 100%;
    display: block;
    position: relative;
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    margin-top: -12rem;
    position: absolute;
    top: 50%;
    left: 12rem;
  }
  &__el {
    width: 100%;
    display: block;
    font-weight: normal;
    line-height: $lineHeightDefault;
    outline: none;
    transition: $transition;
    transition-property: border-color;
    &--size {
      &-sm {
        min-height: 42rem;
        padding: 16rem 0;
        font-size: var(--fs-9);
        @media (max-width: $lg) {
        }
      }
    }
    &--theme {
      &-accent-outline {
        background: transparent;
        color: $whiteColor;
        border: 0 solid $accentColor;
        border-width: 0 0 1px;
        border-radius: none;
        &:hover {
          text-decoration: none;
          @media (min-width: $lg-mf) {
            border-color: $whiteColor;
          }
        }
        &:focus {
          border-color: $whiteColor;
          &::placeholder {
            text-indent: 60rem;
            color: transparent;
          }
        }
        &::placeholder {
          color: $greyMediumColor;
          transition: $transition;
        }
      }
    }
    &--type {
      &-text {
      }
      &-textarea {
        resize: none;
      }
    }
  }
}

.faq-card {
  $faqCardGapLg: 28rem;
  $faqCardGapMd: 20rem;
  padding: $faqCardGapLg 0;
  transition: $transition;
  transition-property: background, color;
  overflow: hidden;
  @media (max-width: $lg) {
    padding: $faqCardGapMd 0;
    border-radius: $radiusESm !important;
  }
  &:hover {
    background: rgba($whiteColor, .1);
    .faq-card__icon {
      @media (min-width: $lg-mf) {
      }
    }
  }
  &.is-show {
    background: rgba($whiteColor, .1);
    .faq-card__icon {
      .u-icon {
        transform: rotate(135deg);
      }
    }
  }
  &--theme {
    &-black-light {
      @extend .u-box--theme-white-light;
      color: $whiteColor;
      border-radius: $radiusSm;
    }
  }
  &__header {
    margin: -$faqCardGapLg 0;
    padding: $faqCardGapLg;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    transition: $transition;
    transition-property: color;
    position: relative;
    @media (max-width: $lg) {
      margin: -$faqCardGapMd 0;
      padding: $faqCardGapMd;
    }
  }
  &__btn {
    @extend %btn-reset, %link-cover;
    color: inherit;
    text-align: left;
    flex-grow: 1;
    cursor: pointer;
    &:before {
      z-index: 1;
    }
  }
  &__title {
    margin: 0 40rem 0 0;
    font-weight: normal;
    line-height: 1.45454545455;
    @media (max-width: $lg) {
      margin-right: 10rem;
      font-size: 16rem;
    }
  }
  &__icon {
    background: rgba($whiteColor, .04);
    width: 48rem;
    height: 48rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: $accentColor;
    border-radius: 50%;
    position: relative;
    transition: $transition;
    transition-property: background;
    @media (max-width: $lg) {
      width: 28rem;
      height: 28rem;
    }
    .u-icon {
      width: 50%;
      height: 50%;
      display: block;
      transition: $transition;
      transition-property: transform;
    }
  }
  &__dropdown {
    height: 0;
    transition: $transition;
    overflow: hidden;
  }
  &__inner {
    padding: .5*$faqCardGapLg $faqCardGapLg 0;
    @media (max-width: $lg) {
      padding: .5*$faqCardGapMd $faqCardGapMd 0;
    }
  }
  &__text {
    color: $greyColor;
    @media (max-width: $lg) {
      font-size: var(--fs-10);
      line-height: 1.42;
    }
  }
}

.sc-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  &__item {
    margin: 0;
    padding: 0;
    &:not(:last-child) {
      margin-right: 20rem;
    }
  }
  &__link {
    width: 40rem;
    height: 40rem;
    display: block;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        opacity: .6;
      }
    }
    .u-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.swiper-pagination {
  margin: 28rem 0 0;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  .swiper-pagination-bullet {
    @extend %area-click;
    background: rgba($whiteColor, .2);
    width: 10rem;
    height: 10rem;
    margin: 0 4rem;
    border-radius: 50%;
    transform: scale(.8);
    transition: $transition;
    cursor: pointer;
    &-active {
      background: $accentColor;
      transform: scale(1);
    }
  }
}